{% extends "base_generic.html" %}

{% block content %}
	<form action="" method="post">
		{% csrf_token %}
		{% if form.email.errors %}
			{{ form.email.errors }}
		{% endif %}
		<div class="container">
			<div class="row" style="padding-top:50px">
				<div class="col-3"></div>
				<div class="col-6" style="border-style:solid;border-color:#3a6342;border-width:1px;border-radius:5px;padding:10px;">
					<div style="background-color:white;border-radius:5px;color:#3a6342; padding:10px;">
						<table style="width:100%;margin-bottom:10px;">
							<tr>
								<td style="font-size:19px;">Please enter your registered email id:</td>
								<td>{{ form.email }}</td>
							</tr>
						</table>
						<input type="submit" class="nav-link active" value="Reset password" style="border-color:#3a6342;border-width:1px;border-radius:5px;font-size:15px;margin-left:30%;">
					</div>
				</div>
				<div class="col-3"></div>
			</div>
		</div>
	</form>
{% endblock %}