{% extends "base_generic.html" %}

{% block content %}
	<div style="border-style:solid;border-color:#3a6342;border-width:1px;border-radius:5px;padding:5px;margin-bottom:10px;margin-top:2px;">
		<h1 class="display-1" style="background-color:white;border-radius:5px;color:#3a6342; padding-bottom:10px;">Author List</h1>
	</div>
	<div class="container" style="border-style:solid;border-color:#3a6342;border-width:1px;padding-bottom:10px;border-radius:5px;">
		{% if user.is_staff %}
			<nav class="nav">
				<a class="nav-link active" href="{% url 'author_create' %}" style="padding-left:80%; font-size:20px;">+ Add New Author</a>
			</nav>
		{% endif %}
		{% if author_list %}
			{% for author in author_list %}
				{% if forloop.first %}<div class="row" style="padding-top:10px;">{% endif %}
				<div class="col-4">
					<div class="list-group">
						<a href="{{ author.get_absolute_url }}" class="list-group-item list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">{{ author.first_name }} {{ author.last_name }}</h5>
							</div>
							<small>({{ author.date_of_birth }} - {{ author.date_of_death }})</small>				
						</a>
					</div>
				</div>
				{% if forloop.counter|divisibleby:3 %}</div><div class="row" style="padding-top:10px;">{% endif %}
  				{% if forloop.last %}</div>{% endif %}
			{% endfor %}
		{% else %}
			<p>There are no authors to display.</p>
		{% endif %}
	</div>
{% endblock %}
