{% extends "base_generic.html" %}

{% block content %}
	<div style="border-style:solid;border-color:#3a6342;border-width:1px;border-radius:5px;padding:5px;margin-bottom:10px;margin-top:2px;">
		<h1 class="display-1" style="background-color:white;border-radius:5px;color:#3a6342; padding-bottom:10px;">Your Borrowed Books</h1>
	</div>
	
	<div class="container" style="border-style:solid;border-color:#3a6342;border-width:1px;border-radius:5px;padding:5px;margin-bottom:10px;margin-top:2px;">
		<div class = "row" style="margin-top:20px; margin-bottom:20px;">
			<div class="col-2"></div>
			<div class="col-8" style="background-color:white;border-radius:5px;">
				{% if bookinstance_list %}
				<table style="width:100%;border-collapse:collapse;margin-bottom:10px;margin-top:10px;">
					<tr style="height:50px;text-align:center;">
						<th style="border: 1px solid #3a6342;">BOOK TITLE</th>
						<th style="border: 1px solid #3a6342;">DUE BACK DATE</th>
					</tr>
					{% for bookinst in bookinstance_list %}
					<tr class="{% if bookinst.is_overdue %}text-danger{% endif %}" style="height:30px;text-align:center;">
						<td style="border: 1px solid #3a6342;"><a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a></td>
						<td style="border: 1px solid #3a6342;">{{ bookinst.due_back }}</td>
					</tr>
					{% endfor %}				
				</table>
				{% else %}
					<p style="text-align:center; font-size:30px; padding-top:5px; color:#3a6342;">There are no books borrowed.</p>
				{% endif %}			
			</div>
			<div class="col-2"></div>
		</div>
	</div>	
{% endblock %}