{% extends "base_generic.html" %}

{% block content %}
	<div style="border-style:solid;border-color:#3a6342;border-width:1px;border-radius:5px;padding:5px;margin-bottom:10px;margin-top:2px;">
		<h1 class="display-1" style="background-color:white;border-radius:5px;color:#3a6342;">Book List</h1>
		<p style="text-align:center;font-size:18px;">We have the following books in our Library. And we will keep updating it!</p>
	</div>
	<div class="container" style="border-style:solid;border-color:#3a6342;border-width:1px;padding-bottom:10px;border-radius:5px;">
		{% if user.is_staff %}
			<nav class="nav" >
				<span>
					<form action=/catalog/search_book/ method=post style="margin:10px;">
					{% csrf_token %}
						<input type="text" name="search_box" placeholder="Search Book" style="font-size:18px;border-style:solid;border-color:#3a6342;border-width:1px;border-radius:5px;">
            			<input type="submit" name="search_btn" value="SEARCH" style="font-size:18px;background-color:white;border-style:solid;border-color:#3a6342;border-width:1px;border-radius:5px;cursor:pointer;">
					</form>
				</span>
				<a class="nav-link active" href="{% url 'book_create' %}" style="padding-left:55%; font-size:20px;">+ Add New Book</a>
			</nav>
		{% endif %}
		{% if book_list %}
			{% for book in book_list %}
				{% if forloop.first %}<div class="row" style="padding-top:10px;">{% endif %}
				<div class="col-4">
					<div class="list-group">
						<a href="{{ book.get_absolute_url }}" class="list-group-item list-group-item-action" style="height:100px;">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">{{ book.title }}</h5>
							</div>
							<small>({{ book.author }})</small>				
						</a>
					</div>
				</div>
				{% if forloop.counter|divisibleby:3 %}</div><div class="row" style="padding-top:10px;">{% endif %}
  				{% if forloop.last %}</div>{% endif %}
			{% endfor %}
		{% else %}
			<p>There are no books in the library.</p>
		{% endif %}
	</div>
{% endblock %}